//COLORS


//Main
$color-main: #323264;
$color-main-alt: #46466E;
$color-main-soft: #686887;

//Accent
$color-accent: #F0145A;

//Active
$color-active: #24A3FF;
$color-active_hover: #0085FF;
$color-active_active: #006CCF;

//Gray
$color-gray-bg: #F5F5FA;
$color-gray-bg-alt: #EDEDF7;
$color-gray-text: #B3B3BA;
$color-gray-separator: #E6E6F0;

//Gradient
$color-gradient: linear-gradient(137deg, #323264, #323264 70%, #A54B5F 98%);
$color-gradient-soft: linear-gradient(45deg, #323264, #323264, #7A425E 80%);
$color-gradient-red: linear-gradient(300deg, #F0145A, #693264);
$color-gradient-super-soft: linear-gradient(225deg, #323264, #323264 70%, #643E72 98%);
$color-gradient-red-text: linear-gradient(90deg, #F0145A, #EF8080);


*{
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-weight: 700;
  font-size: 38px;
  line-height: 100%;
  background-image: $color-gradient-red-text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0;
  margin: 0;
}
h2{
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  padding: 0;
  margin: 0;
}
h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  padding: 0;
  margin: 0;
}
#h3caps{
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
}
h4{
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  padding: 0;
  margin: 0;
}
.dots{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ffffff;
}
main{
  background-image: $color-gradient-super-soft;
  margin: 0 auto 60px;
  max-width: 1920px;
  width: 100%;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: 0 10px 0 #CACADB,
              0 20px 0 #E7E7F2;
}
.first-section{
  background-image: url('/images/big-symbol.png');
  background-repeat: no-repeat;
  background-position: center;
}

.first-section-text{
  text-align: center;
  font-weight: 700;
  font-size: 38px;
  line-height: 100%;
  color: white;
  margin: 361px auto 405px;
}

.first-section__btn{
  text-align: center;
  svg{
    cursor: pointer;
    color: white;
    margin-bottom: 30px;
    transition: 0.3s;
    &:hover{
      color: $color-accent;
    }
  }
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 50px 160px 6px 160px;
}

.header-right-container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 16px;
}
.header-languages{
  display: flex;
}
.header-right-top-box{
  display: flex;
  gap: 6px;
  align-items: center;
  color: #FFFFFF;
  a{
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    cursor: pointer;
  }
  h4{
    padding: 5px 7px;
    //width: 33px;
    //height: 24px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: #FFFFFF33;
    }
  }
  svg{
    color: white;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
      color: $color-accent;
    }
  }
}

#header-bottom-right-text{
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
  cursor: pointer;
  &:hover{
    border-bottom: 2px solid #FFFFFF;
  }
}


.header-right-bold-text{
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
}
.header-right-bottom-box{
  display: flex;
  gap: 15px;
}

.second-section{
  margin-top: 60px;
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
}

.second-section-left-box{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 30px;
  padding-right: 56px;
  border-right: 4px solid #FFFFFF4D ;
  h1{
    color: $color-gray-text;
    -webkit-text-fill-color: inherit;
    transition: 0.3s all;
    cursor: pointer;
    -webkit-transition: 0.3s all;
    &:hover{
      -webkit-text-fill-color: transparent;
    }
  }
}

.second-section-right-box{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  max-width: 771px;
  h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    color: white;
  }
  span{
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: #FFFFFF;
  }
}
.third-section{
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  padding-left: 160px;
}
.third-section-top-box{
  display: flex;
  row-gap: 10px;
  flex-direction: column;
}
.third-section-first-top-text{
  display: flex;
  gap: 2px;
  h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF;
  }
}
.third-section-top-cards{
  display: flex;
  gap: 60px;
}
.third-section-bottom-cards{
  display: flex;
  gap: 60px;
  padding-bottom: 60px;
}
.third-section-card{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  max-width: 494px;
  svg{
    margin-bottom: 15px;
  }
  h3{
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    color: #24A3FF;
  }
  h4{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
  }
}
@media (max-width:1440px){
  .first-section{
    background-image: url('/images/symbol.png');
  }
  .header{
    padding: 50px 60px 6px 60px;
  }
  .first-section-text{
    margin: 261px auto 305px;
  }
  .second-section-right-box {
    max-width: 511px;
  }
  .third-section-card {
    max-width: 400px;
  }
  .third-section{
    padding-left: 60px;
  }
}